@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway;
}

html {
    overflow-y: scroll; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none; 
}

body {
    overflow-y: auto;
    background-color: #555454; 
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}
@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.25em 7em;
  background-color: #555454;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #77b7f7;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 3em;
  
}

.nav-links a {
  text-decoration: none;
  font-size: 1em;
  position: relative;
  padding: 0.5em 0;
  transition: color 0.3s ease;
  color: #f2ecec;
}

.nav-links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.1em;
  background-color: #77b7f7;
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: #666;
}

.nav-links a:hover::after {
  width: 100%;
}

.main-block {
    display: flex;
    gap: 2em;
    background-color: #555454;
    min-height: auto;
    padding: 8em 3em 2em;
    width: 100%; 
    box-sizing: border-box;
    justify-content: center;
    flex:1;
}

.content-text {
    flex: 1;
    max-width: 40%;
    color: #e7e7e7;
}


.slogan {
    margin-top: 1em;
    margin-bottom: 2em;
}

.work-hours h2 {
    margin-top: 2em; 
}

.work-hours ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 1em;
}

.work-hours li {
    margin-bottom: 0.5em; 
}


.slogan {
    margin-top: 1em;
    margin-bottom: 2em;
}

.social-links {
    display: flex;
    gap: 1em;
    margin-top: 2em;

}
.social-links a{
    transition: transform 0.3s ease, filter 0.3s ease;
}
.social-links a:hover img {
    transform: scale(1.2) rotate(5deg); 
    filter: invert(90%) sepia(95%) saturate(100%) hue-rotate(0deg);
}
.contact-list {
    list-style: none;
    padding: 0;
    margin-top: 2em;
    color: #e7e7e7;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 0.75em;
    font-size: 1em;
    margin-bottom: 1em;
}

.contact-icon {
    width: 1.5em;
    height: 1.5em;
    filter: invert(100%) sepia(98%) saturate(0%) hue-rotate(0deg);
    transition: transform 0.3s ease, filter 0.3s ease;
}
.contact-item:hover .contact-icon {
    transform: scale(1.2);
    filter: invert(90%) sepia(95%) saturate(100%) hue-rotate(0deg);
}
.map-section {
    flex: 1;
    max-width: 35em;
}

.map-title {
    color: #e7e7e7;
    margin-bottom: 1em;
}

.map-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1.2 / 1; 
    overflow: hidden;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}
.work-hours h2 {
    margin-top: 2em;
    font-size: 1.0em;
}

.work-hours ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 1em;
}

.work-hours li {
    margin-bottom: 0.5em;
}

.footer {
    background-color: #555454;
    color: #E7E7E7;
    padding: 0em 7em 0;
    width: 100%;
    box-sizing: border-box;
   
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
    max-width: 1200px;
    margin: 0 auto;
}
.footer-bottom {
    width: 100%;
    text-align: center;
    padding: 1em 0 2em;
}

.footer-divider {
    height: 1px;
    background-color: #f2ecec;
    margin: 1em 0;
}

.footer-copyright {
    font-size: 0.8em;
    color: #f2ecec;
}

.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 2em;
    height: 1.3em;
    cursor: pointer;
}

.burger-line {
    height: 0.2em;
    width: 100%;
    background-color: #77b7f7;;
    
    transition: all 0.3s ease;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    max-width: 300px;
    height: 100vh;
    background: white;
    z-index: 1000;
    transition: right 0.4s ease;
    padding: 20px;
    box-shadow: -5px 0 15px rgba(0,0,0,0.1);
}

.mobile-menu.active {
    right: 0;
}

.mobile-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.mobile-menu .logo {
    color: #77b7f7;
    font-size: 1.2em;
    text-decoration: none !important; 
    border-bottom: none !important; 
    background-image: none !important; 
}

.close-btn {
    font-size: 3em;
    cursor: pointer;
    color: #77b7f7;
    line-height: 1;

}

.mobile-nav-links {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.mobile-nav-links a {
    color: #132436;
    text-decoration: none;
    font-size: 0.95em;
    padding: 5px 0;
    transition: color 0.3s;
    font-weight: 400;
}

.mobile-nav-links a:hover {
    color: #77b7f7;
}


.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.menu-overlay.active {
    opacity: 1;
    visibility: visible;
}


.burger-menu.active .burger-line:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.burger-menu.active .burger-line:nth-child(2) {
    opacity: 0;
}

.burger-menu.active .burger-line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}


@media (max-width: 768px) {
    header {
        padding: 1.5em;
        position: relative;
    }
    
    .logo {
        font-size: 1.2em;
    }
    
    .nav-links {
        display: none;
    }
    
    .burger-menu {
        display: flex;
    }
    
    .main-block {
        flex-direction: column;
        padding: 1.5em;
        padding-top: 4em;
    }
    
    .content-text, .map-section {
        max-width: 100%;
    }
    
    
    .map-section.desktop-only {
        display: none;
    }
    
    
    .map-section.mobile-first {
        display: block;
        order: -1;
        width: 100%;
        margin-bottom: 2em;
    }
    
    .map-container {
        aspect-ratio: 1/0.9;
    }
    
    h1 {
        font-size: 1.8em;
        text-align: center;
        margin-bottom: 0.5em;
    }
    
    .map-title {
        display: none;
    }
    
    .work-hours h2 {
        margin-top: 1em;
        font-size: 1.2em;
    }
    
    .footer {
        padding: 0 1.5em;
    }
}

@media (min-width: 769px) {
    .map-section.mobile-first {
        display: none;
    }
    
    .map-section.desktop-only {
        display: block;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    header {
        flex-wrap: wrap; 
        padding: 1em;
    }
    
    .logo {
        width: 100%;
        text-align: center;
        margin-bottom: 0.5em;
    }
    
    .nav-links {
        width: 100%;
        justify-content: center;
        gap: 1em;
        flex-wrap: wrap;
    }
    
    .nav-links a {
        padding: 0.3em 0.5em;
        font-size: 0.85em;
    }
    
    .burger-menu {
        display: none; 
    }
}